ENDERECO_CONTROLE_ACESSO=0x5FbDB2315678afecb367f032d93F642f64180aa3
ENDERECO_REGISTRO_DOCUMENTOS=
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
CHAVE_PRIVADA_ADMIN=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
DATABASE_URL=sqlite:///./banco.db
JWT_SECRET_KEY=troque-por-um-valor-aleatorio-forte
CHAVE_CRIPTOGRAFIA_DADOS_SENSIVEIS=aYLb4ukCdBLEQJNs_evtdazC4t4T6zYQYIE486QgEy4=